@media (max-width: 1300px) {
  .about__content {
    flex-direction: column;
  }

  .about-image {
    width: 100%;

    margin-bottom: 32px;
    margin-right: 0;
  }

  .about-info {
    width: 100%;
  }

  .footer-descr__para {
    display: none;
  }

  .nav__list {
    margin-right: 20px;
  }

  .nav__item {
    margin-right: 50px;
  }
}

@media (max-width: 1024px) {
  .stop-scroll {
    overflow: hidden;
  }

  .container {
    padding: 0 50px;
    margin-bottom: 37px;
  }

  .header__container {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .nav__list {
    visibility: hidden;
    transform: translateY(-120%);
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 0;
    min-width: 330px;
    height: 100vh;
    z-index: 1000;
    padding: 170px 0 60px 50px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
    margin-right: 0;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    align-items: flex-start;
  }

  .nav__list
  .nav__link {
    font-size: 24px;
    line-height: 29px;
  }

  .nav__item {
    margin-right: 0;
  }

  .nav__list--active {
    visibility: visible;
    transform: none;
  }

  .nav .nav__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .button-burger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 23px;
    color: black;
    z-index: 1001;
    cursor: pointer;
  }

  .button-burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .button-burger__line:nth-child(1) {
    top: 0px;
  }

  .button-burger__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .button-burger__line:nth-child(3) {
    bottom: 0px;
  }

  .burger--active
  .button-burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active
  .button-burger__line:first-child {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active
  .button-burger__line:last-child {
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .swiper-slide img {
    height: 668px;
  }

  .hero__text {
    max-width: 770px;
    bottom: 50px;
    left: 77px;
  }

  .hero__descr {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }

  .hero__btn {
    margin-bottom: 115px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }

  .about-image {
    width: 100%;
    margin-bottom: 32px;
    margin-right: 0;
  }

  .about__title {
    line-height: 53px;
    margin-bottom: 21px;
  }

  .about-info {
    width: 100%;
  }

  .about__content {
    flex-direction: column;
  }

  .about__descr {
    width: 100%;
    margin-bottom: 60px;
  }

  .about-image__svg-1, .about-image__svg-2 {
    background-size: 21%;
    background-position: 10.2% 50%;
  }

  .about__container {
    margin-bottom: 80px;
  }

  .working-btns {
    margin-bottom: 50px;
  }

  .working-info__para {
    width: 100%;
    margin-bottom: 25px;
  }

  .working-block {
    margin-right: 40px;
  }

  .working__container {
    margin-bottom: 80px;
  }

  .question-list__link {
    font-size: 20px;
  }

  .question__container {
    margin-bottom: 80px;
  }

  .footer-descr__para {
    display: none;
  }

  .footer__container {
    padding: 50px 50px;
  }

  .footer-link__logo {
    margin-bottom: 20px;
  }

  .footer-block__btn {
    padding: 19px 38px;
    margin-right: 20px;
  }

  .footer-block {
    margin-right: 0px;
  }

  .footer-links__item:last-child {
    margin-bottom: 90px;
  }

  .footer-links {
    flex-basis: 386px;
  }

  .footer-link__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .footer-block {
    flex-shrink: 1;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding-top: 11px;
    padding-bottom: 10px;
  }

  .nav__list {
    padding: 152px 0 60px 50px;
  }

  .swiper {
    border-radius: 24px;
  }

  .swiper-slide img {
    height: 662px;
  }

  .header-form {
    top: 5px;
  }

  .hero__text {
    max-width: 88%;
    line-height: 73px;
    bottom: 50px;
    left: 40px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .about-image {
    border-radius: 24px;
    margin-right: 0;
  }

  .about-img {
    background-image: url("../img/about-image-low.jpg");
  }

  .about__descr  {
    margin-bottom: 55px;
  }

  .about-image__descr {
    padding: 34px 40px;
    border-radius: 24px;
  }

  .about-image__title {
    width: 62%;
  }

  .about-info__block {
    flex-basis: 78%;
  }

  .about-info__item {
    padding: 34px 40px;
    border-radius: 24px;
  }

  .about-info__descr {
    width: 100%;
  }

  .about-image__svg-1, .about-image__svg-2 {
    background-size: 17%;
    background-position: 7% 49%;
  }

  .working-info {
    flex-direction: column-reverse;
  }

  .working-btns__item:not(:last-child) {
    margin-right: 0;
  }

  .working-btns__list {
    justify-content: space-between;
  }

  .working-image {
    margin-bottom: 38px;
  }

  .working-block {
    width: 100%;
    margin-right: 0;
  }

  .working__container {
    margin-bottom: 49px;
  }

  .question-list__link {
    width: 100%;
  }

  .question__container {
    margin-bottom: 111px;
  }

  .footer-links {
    flex-basis: 0;
  }

  .footer-links__list {
    display: none;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer-block {
    width: 81%;
    margin-bottom: 47px;
  }

  .footer-block__btn {
    margin-right: 14px;
  }

  .footer-link__logo {
    margin-bottom: 16px;
  }
}

@media (max-width: 577px) {

  .container {
    padding: 0 30px;
  }

  .header__container {
    padding-top: 11px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 28px;
  }

  .nav__list {
    width: 100%;
    padding: 78px 0 15px 50px;
  }

  .nav__list
  .nav__link {
    font-size: 16px;
    line-height: 20px;
  }

  .nav .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header-form {
    min-width: 320px;
  }

  .swiper-slide img {
    height: 308px;
  }

  .hero__text {
    align-items: center;
    text-align: center;
    max-width: 770px;
    bottom: 50px;
    left: 0px;
  }

  .hero__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 12px;
  }

  .hero__descr {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
  }

  .about-image {
    flex-direction: column;
  }

  .about-image__descr {
    display: inline-block;
    position: static;
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .about-image__item {
    margin-bottom: 8px;
  }

  .about-image__title {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: black;
    width: 100%;
    margin-bottom: 12px;
  }

  .about-img {
    background-image: url("../img/about-image-small-low.jpg");
  }

  .about-image__btn {
    font-size: 12px;
    color: #FF9900;
    width: 162px;
    height: 39px;
    border-radius: 8px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .hero-bullets__item svg {
    width: 10px;
    height: 10px;
  }

  .about-info__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .about-info__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about-info__item {
    flex-direction: column;
    padding: 0;
    border: none;
    border-radius: 0;
    background-position: 0 0px;
    padding-top: 60px;
    background-size: 25%;
  }

  .hero__slider {
    padding: 80px 30px 20px 30px;
  }

  .hero__btn {
    font-size: 12px;
    line-height: 0;
    padding: 13px 28px;
    width: 162px;
    height: 41px;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .question-list__link {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
  }

  .question-list__item svg {
    width: 30px;
    height: 30px;
  }

  .working-info__btn {
    font-size: 12px;
    line-height: 0;
    padding: 13px 28px;
    width: 162px;
    height: 41px;
    border-radius: 8px;
  }

  .working-info__btn--fill {
    font-size: 12px;
    line-height: 0;
    padding: 13px 28px;
    width: 162px;
    height: 41px;
    border-radius: 8px;
  }

  .footer-block__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .footer-block {
    width: 100%;
  }
}

@media (max-width: 320px) {

  .container {
    padding: 0 15px;
    margin-bottom: 56px;
  }

  .header__container {
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 30px;
  }

  .nav__list {
    min-width: 320px;
    padding: 78px 0 15px 15px;
  }

  .header-form {
    height: 69px;
    min-width: 320px;
    top: 0;
    border-radius: 0 0 24px 24px;
    z-index: 9999;
  }

  .swiper {
    border-radius: 16px;
  }

  .swiper-slide img {
    height: 308px;
  }

  .hero__text {
    align-items: center;
    text-align: center;
    bottom: 30px;
    left: 0;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 15px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 34px;
  }

  .hero__btn {
    font-size: 12px;
    padding: 13px 28px;
    margin-bottom: 34px;
    border-radius: 8px;
  }

  .title {
    font-size: 24px;
    line-height: 30px;
  }

  .about__container {
    margin-bottom: 60px;
}

  .about-image__svg-1 {
    background-image: url("../img/about-small-1.svg");
  }

  .about-image__svg-2 {
    background-image: url("../img/about-small-2.svg");
  }

  .about-image {
    flex-direction: column;
  }

  .about-image__descr {
    display: inline-block;
    position: static;
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .about-image__item {
    margin-bottom: 8px;
  }

  .about-image__title {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: black;
    width: 100%;
    margin-bottom: 12px;
  }

  .about-img {
    background-image: url("../img/about-image-small-low.jpg");
  }

  .about-image__btn {
    font-size: 12px;
    color: #FF9900;
    width: 162px;
    height: 39px;
    border-radius: 8px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
  }

  .hero-bullets__item svg {
    width: 10px;
    height: 10px;
  }

  .about-info__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .about-info__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about-info__item {
    flex-direction: column;
    padding: 0;
    border: none;
    border-radius: 0;
    background-position: 0 0px;
    padding-top: 60px;
    background-size: 22%;
  }

  .working__container {
    margin-bottom: 58px;
}

  .working__title {
    margin-bottom: 20px;
  }

  .working-btns__link {
    font-size: 14px;
    line-height: 17px;
  }

  .working-btns {
    margin-bottom: 16px;
  }

  .working-info__title {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
  }

  .working-info__para {
    font-size: 14px;
    line-height: 28px;
  }

  .working-image {
    margin-bottom: 16px;
  }

  .working-block {
    margin-right: 0;
  }

  .working-info__btn {
    border-radius: 8px;
    font-size: 12px;
    padding: 0;
    width: 118px;
    height: 39px;
  }

  .working-info__btn--fill {
    width: 162px;
    height: 39px;
    padding: 0;
    border-radius: 8px;
    font-size: 12px;
  }

  .working-info__btn:not(:last-child) {
    margin-right: 0px;
  }

  .working-info__btns {
    display: flex;
    justify-content: space-between;
  }

  .question__container {
    margin-bottom: 58px;
}

  .question__title {
    margin-bottom: 17px;
  }

  .question-list__link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    width: 98%;
  }

  .question-list__item svg {
    width: 30px;
    height: 30px;
  }

  .footer__container {
    padding-top: 33px;
  }

  .footer-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 33px;
  }

  .footer-block__title {
    margin-bottom: 20px;
  }

  .footer-block__textarea {
    margin-bottom: 25px;
  }

  .footer-block__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .footer-block__btn {
    width: 180px;
    height: 39px;
    font-size: 12px;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
  }

  .footer-block__input {
    padding: 14px 20px;
  }

  .footer-block__input::placeholder {
    font-size: 14px;
    line-height: 32px;
  }

  .footer-block__textarea {
    padding: 14px 20px;
  }

  .footer-block__textarea::placeholder {
        font-size: 14px;
    line-height: 32px;
  }

  .footer-links {
    align-items: center;
  }

  .footer-social__icon svg {
    width: 40px;
  }

  .footer-social__item:not(:last-child) {
    margin-right: 16px;
  }

  .footer-link__item {
    margin-bottom: 6px;
  }
}
